/*@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }
  *:focus {
    outline: none; }

html {
  color: white;
  font: normal 10px/1.42857 "Source Sans Pro", Helvetica, Arial, sans-serif; }

body {
  background: none;
  color: inherit;
  font: inherit; }

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none; }
  a:hover {
    opacity: 0.8; }


.iframe{
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
}

.backButton{
  /*background-color: grey;*/
/*  padding: 15px;
*/  transform:scale(1,50); 
  left: 5px;
  position: fixed;
  top: 50%;
  z-index: 2;
}

/* nav toggle */
.nav-toggle {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 60px;
    left: -20px;
    position: fixed;
    top: calc(50% - 33px);
    width: 33px;
    z-index: 2;
}
.nav-toggle.expanded {
  left:3px;
}



  .nav-toggle:hover {
    opacity: 0.8; }

  .nav-toggle .nav-toggle-bar::after{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: white;
    content: '';
    height: 0.4rem;
    width: 100%; 
  }
  .nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: white;
    content: '';
    height: 0.4rem;
    width: 100%; 
  }

  .nav-toggle .nav-toggle-bar::after {
    margin-top: 1.5rem; 
    transform: rotate(90deg)
    }
  .nav-toggle .nav-toggle-bar::before {
    margin-top: -1.5rem; 
    transform: rotate(-90deg);
    }
  .nav-toggle.expanded .nav-toggle-bar {
    /*background: transparent;*/
  }
  .nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background: white;
    /*left: 0px;*/
  }
  .nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
    /*transform: translateY(10px); */
  }
  .nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg); 
/*    transform: translateY(-10px); */
  }
  .nav-toggle.expanded::before {

    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
}
  .nav-toggle.expanded::after {

      -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
/* nav */
.nav {
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -ms-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  background: white;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  right: -100vw;
  /*padding: 6rem 2rem 2rem 2rem;*/
  position: fixed;
  top: 0;
  width: calc(100vw - 40px);
  z-index: 2; 
}
  .nav.expanded {
    right: 0;
    z-index: 2; 
  }
  .nav ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    list-style: none;
    margin: 0;
    padding: 0; 
  }

/*# sourceMappingURL=nav.css.map */
